@import url(https://fonts.googleapis.com/css?family=Oswald|Raleway);
@import url(https://fonts.googleapis.com/css?family=Oswald|Raleway);
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
  /* background: url('./img/wood_background.jpeg'); */
}
a {
  text-decoration: none;
  color: #000;
}
details:hover {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  background: #000;
  color: #000;
  padding: 2em;
  font-family: Raleway, sans-serif;
  font-size: larger;
  margin: 0 auto;
}
nav a {
  text-decoration: none;
  color: #f5f5f5;
}
